* {
    box-sizing: border-box;
}
.img--logo {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
}

.nav__item {
    text-align: center;
    list-style-type: none;
    padding: 20px;
}

li a { 
    text-decoration: none;
    color: grey;
}

li a:hover {
    background-color: rgb(52, 204, 196);
    padding: 20px;
    border-radius: 5px;
    
}

.card {
    font-family: 'Josefin Sans', sans-serif;
    color: grey;
    padding: 30px;
    line-height: 2em;
    word-spacing: .2em;
}

h4 {
    color: grey;
}

.headline--primary {
    color: rgb(52, 204, 196);
}

.link {
    text-decoration: none;
    color: rgb(0, 169, 211);
}

.blockquote {
    font-family: 'Josefin Sans', sans-serif;
    color: grey;
    padding: 30px;
    line-height: 1em;
    word-spacing: .1em;
    font-size: 18px;
    border-left: thick solid rgb(52, 204, 196);
}

.headline--secondary {
    color: grey;
}

.img--avatar, .img--frame {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.img--frame {
    width: 90%;
}


.form {
    display: flex;
    flex-direction: column;
}

.form__label--hidden {
    display: none;
    float: left;

}

.form__input {
    outline: 0;
    border: 0;
    margin-left: auto;
    margin-right: auto;
    font-weight: grey;
    border-bottom: 6px solid rgb(52, 204, 196);
    width: 300px;
  
    
}

button {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(0, 169, 211);
    padding: 20px;
    border-radius: 5px;
    color: white;
}

input {
    margin: 15px;
    background-color: rgb(52, 204, 196);
}

label {
    margin-left: 25px;
}

.grid__col--6 {
    padding: 20px;
}

.grid__col--12 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

.btn--default {
    background-color: rgb(4, 158, 230);
    margin-top: 30px;
}

.btn--success  {
    background-color: rgb(102, 218, 102);
    margin-top: 30px;
}

.btn--error {
    background-color: rgb(240, 62, 62);
    margin-top: 30px;
}

.btn--warning {
    background-color: rgb(211, 92, 37);
    margin-top: 30px;
}

.btn--info {
    background-color: rgba(136, 68, 192, 0.863);
    margin-top: 30px;
}

.grid__row {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    color: grey;
    margin-left: auto;
    margin-right: auto;
}



.grid__row .theme__colors.grid__col--12 {
    background-color: #81E9D2;
    padding: 0.7em 0 0.7em 0.5em;
    margin-bottom: 0.2em;
    border-radius: 5px 5px;
    display: flex;
    color: grey;
    width: 99%;

}

.grid__row .theme__colors.grid__col--6 {
    background-color: #3DACCB;
    padding: 0.7em 0 0.7em 0.5em;
    margin-bottom: 0.2em;
    border-radius: 5px 5px;
    display: flex;
}

.grid__row .theme__colors.grid__col--4 {
    background-color: #7FE7FD;
    padding: 0.7em 0 0.7em 0.5em;
    margin-bottom: 0.2em;
    border-radius: 5px 5px;
    display: flex;
}

.grid__row .theme__colors.grid__col--3 {
    background-color: #DFB3EE;
    padding: 0.7em 0 0.7em 0.5em;
    margin-bottom: 0.2em;
    border-radius: 5px 5px;
    display: flex;
}

.grid__row .theme__colors.grid__col--5 {
    background-color: #89DAA1;
    padding: 0.7em 0 0.7em 0.5em;
    margin-bottom: 0.2em;
    border-radius: 5px 5px;
    display: flex;
}

.grid__row .theme__colors.grid__col--7 {
    background-color: #EDA0A4;
    padding: 0.7em 0 0.7em 0.5em;
    margin-bottom: 0.2em;
    border-radius: 5px 5px;
    display: flex;
}

.grid__row .theme__colors.grid__col--8 {
    background-color: #FDA086;
    padding: 0.7em 0 0.7em 0.5em;
    margin-bottom: 0.2em;
    border-radius: 5px 5px;
    display: flex;
}
  
.grid__row .theme__colors.grid__col--2 {
    padding: 0.7em 0 0.7em 0.5em;
    margin-bottom: 0.2em;
    border-radius: 5px 5px;
    display: flex;
}



@media (min-width: 1024px) {
    .img--logo {
        float: left;
        margin-left: 100px;
        margin-bottom: -70px;
    }

    li {
        display: inline;
    }

    .nav {
        float: right;
        margin-top: 50px;
        margin-left: 80px
    }

    .card p {
        margin-right: -50px;
        width: 900px;
    }
    
    .headline--secondary {
        float: left;
    }

    .headline--primary {
        float: left;
        margin-top: 70px;
        margin-left: -80px;
        padding-right: 90px;
    }

    .grid__col--8 .card p, .blockquote {
        float: left;
        margin-top: 20px;
        padding-right: 500px;
 }

    .form {
        float: right;
        margin-top: 360px;
        position: relative;
        left: -350px;
    }

    button {
        margin-right: 20px;
    }

    .grid__col--6 .img--avatar {
        float: right;
        margin-bottom: -70px;
        position: relative;
        bottom: -30px;
        margin-left: 60px;
    }

    .img--frame {
        float: left;
        width: 70%;
        margin-top: 50px;
        margin-left: 90px;
    }

    .grid__col--12 {
        display: flex;
        flex-direction: row;
        width: 90%;
    }

    .btn--info, .btn--default, .btn--success, .btn--error, .btn--warning {
        margin-left: 20px;
    }

    .grid__row {
        display: flex;
        flex-direction: row;
    }

    .grid__row .theme__colors.grid__col--12 {
        width: 90%;
        margin-top: 50px;
        margin-left: 30px;
    }

    .grid__row .theme__colors.grid__col--6 {
        width: 40%;
        margin-left: 20px;
        position: relative;
        right: -100px;
    }

    .grid__row .theme__colors.grid__col--4 {
        width: 26%;
        margin-left: 20px;
        position: relative;
        right: -100px;
    }

    .grid__row .theme__colors.grid__col--3 {
        width: 19%;
        margin-left: 20px;
        position: relative;
        right: -100px;
    }

    .grid__row .theme__colors.grid__col--5 {
        width: 30%;
        margin-left: 20px;
        position: relative;
        right: -100px;
    }

    .grid__row .theme__colors.grid__col--8 {
        width: 54%;
        margin-left: 20px;
        position: relative;
        right: -100px;
    }

    .grid__row .theme__colors.grid__col--7 {
        width: 50%;
        margin-left: 20px;
        position: relative;
        right: -100px;
    }
    
    .grid__row .theme__colors.centered {
        width: 50%;
        margin-left: 20px;
        position: relative;
        right: -250px
    }
 

}




 

 
    
