@mixin grids {
    padding: 0.7em 0 0.7em 0.5em;
    margin-bottom: 0.2em;
    border-radius: 5px 5px;
    display: flex;
}

@mixin flex {
    display: flex;
    flex-direction: column;
}

@mixin lrg-media($break-wide) {
  @media (min-width: $break-wide) {
    @content;
  }
}