%centered {
    margin-left: auto;
    margin-right: auto;
}

%main-logo {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
}

%heading {
    font-family: 'Josefin Sans', sans-serif;
    color: grey;
    padding: 30px;
    line-height: 2em;
    word-spacing: .2em;
    font-size: 18px;
    border-left: thick solid rgb(52, 204, 196);
}

%nav-items {
    text-align: center;
    list-style-type: none;
    padding: 20px;
}