.form {
    @include flex;
}

.form__label--hidden {
    display: none;
    float: left;

}

.form__input {
    outline: 0;
    border: 0;
    @extend %centered;
    font-weight: $text-color;
    border: none;
    border-bottom: 6px $background-color solid;
    width: 300px;
    background-color: white;
    cursor: text;
    padding: 10px;
    margin: 30px auto;
}

input {
    margin: 15px;
    background-color: $background-color;
}

label {
    margin-left: 25px;
}