.grid__col--6 {
    padding: 20px;
}

.grid__col--12 {
    @include flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    color: white;
    @extend %centered;
}

.grid__row {
    @include flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    color: $text-color;
    @extend %centered;
}



.grid__row .theme__colors.grid__col--12 {
    background-color: #81E9D2;
    padding: 0.7em 0 0.7em 0.5em;
    margin-bottom: 0.2em;
    border-radius: 5px 5px;
    @include flex;
    color: $text-color;
    width: 99%;

}

.grid__row .theme__colors.grid__col--6 {
    background-color: #3DACCB;
    @include grids;
}

.grid__row .theme__colors.grid__col--4 {
    background-color: #7FE7FD;
    @include grids;
}

.grid__row .theme__colors.grid__col--3 {
    background-color: #DFB3EE;
    @include grids;
}

.grid__row .theme__colors.grid__col--5 {
    background-color: #89DAA1;
    @include grids;
}

.grid__row .theme__colors.grid__col--7 {
    background-color: #EDA0A4;
    @include grids;
}

.grid__row .theme__colors.grid__col--8 {
    background-color: #FDA086;
    @include grids;
}
  
.grid__row .theme__colors.grid__col--2 {
    @include grids;
}

