* {
    box-sizing: border-box;
}

h4 {
    color: $text-color;
}

.headline--primary {
    color: $background-color;
}

.link {
    text-decoration: none;
    color: rgb(0, 169, 211);
}

.blockquote {
    @extend %heading;
}

.headline--secondary {
    color: $text-color;
}

.card {
    font-family: 'Josefin Sans', sans-serif;
    color: $text-color;
    padding: 30px;
    line-height: 2em;
    word-spacing: .2em;
}
